body {
    background-color: #EEEEEE;
    font-family:sans-serif ;
  }

table {
    background-color:#086379;
    font-family:sans-serif ;
}

head{
    background-color: #D1ECF9;
    font-family: sans-serif;
}

h2{
    font-size: medium;
}